<%- include("template/header", {tituloWeb: 'Home'}) %>
</head>
<body>
    <div class="container">
            <br>
        <h1 class="display-2">Bienvenidos a mi API de Productos</h1>
        <br>
        <br>
        <div class="d-flex justify-content-center">
            <a class="btn btn-dark btn-lg btn-block" href="http://localhost:8888/productos" role="button">Mostrar Productos</a>
        </div>
    </div>
    
</body>
</html>