<%- include("template/header", {tituloWeb: 'Home'}) %>
</head>
<body>
    <div class="container">
    <h1>Bienvenidos a la API de Productos</h1>
    <a href="http://localhost:8888/productos"><button class="btn btn-dark">Mostrar Productos</button></a>
</div>
</body>
</html>